body{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 100;
    padding: 0;
    margin: 0;
    background-color: #b2a1e2;

}
textarea{
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button{
    margin-top: 40px;
    width: 70px;
    text-align: center;
}
.d{
    background-color: rgb(44, 44, 44);
    color: rgb(55, 255, 178);
    height: 180px;
    text-align: center;
    padding-top: 30px;
}
footer{
    height: 5vh;
    width: 100%;
    bottom: 0;
    position:fixed;
    font-size: 1.5vw;
    background-color: rgb(44, 44, 44);
}
footer .content{
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    justify-content: space-between;
}
footer .content a{
    text-decoration: none;
    color: rgb(55, 255, 178);
}


