<html>
    <head>
        <meta name="viewport" content="width=device-width, intial-scaling=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>
    <style>
    body{
        margin: 0;
        padding: 0;
        background-color: #FAEBEFFF;
        font-family: 'Poppins';
        font-size: large;
    }
    .d{
        background-color: rgb(44, 44, 44);
        color: rgb(55, 255, 178);
        height: 180px;
        text-align: center;
        padding-top: 30px;
    }
    div{
        text-align: center;
        padding-top: 190px;
        font-size: 40px;
        color: #333D79FF;
    }
    </style>
    <body>
           <div class="d"><h1>Movie Review's Sentiment Analyser</h1></div>
           <div>
               {{ pred_text }}
           </div>
    </body>        

</html>
